# Rewrite to www
Options +FollowSymLinks
RewriteEngine on
RewriteCond %{HTTP_HOST} ^saqren.ga[nc]
RewriteRule ^(.*)$ http://www.saqren.ga/$1 [r=301,nc]

# 301 Redirect Old File
Redirect 301 /league-of-legends/index.html /league-of-legends

# Prevent viewing of .htaccess file
<Files .htaccess>
order allow,deny
deny from all
</Files>

