### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule home index.html
RewriteRule league-of-legends lol.html
RewriteRule youtube youtube.html
RewriteRule formularz form.html
