body
{
	margin:0px!important;
	padding:0px!important;
	background-color:#030303;
	color:#bfbfbf;
	background-image:url("https://www.mobafire.com/images/champion/square/draven.png");
	overflow-y:scroll;
}
.header
{
	height:70px;
	background-color:#2f2f2f;
	width:100%;
}
.logo
{
	padding:10px;
	font-size:40px;
	float:left;
	height:50px;
	text-align:justify;
}
.logoimg
{
	height:50px;
	width:50px;
}
.menu
{
	font-size:25px;
	background-color:#2f2f2f;
	width:10%;
	margin-left:0.5%;
	height:780px;
	margin-top:1%;
	float:left;
	padding:30px;
}
.content
{
	background-color:#2f2f2f;
	width:72%;
	width:70%;
	margin-left:14.5%;
	height:800px;
	margin-top:1%;
	padding:1%;
}
a:link
{
	color:#bfbfbf;
	text-decoration: none;
}
a:visited
{
	color:#bfbfbf;
	text-decoration: none;
}
a:hover
{
	color:#bfbfbf;
	text-decoration: none;
}
a:active
{
	color:#bfbfbf;
	text-decoration: none;
}
.img
{
	height:200px;
	width:350px;
	float:right;
}
.ad
{
	float:right;
	margin-right:0.5%;
	margin-top:1%;
	background-color:#2f2f2f;
	width:12%;
	height:80%;
	font-size:10px;
}
.adimg
{
	margin:0.1%;
	width:99.9%;
	height:820px;
}
