body
{
	!margin:0px;
	background-color:#1f1f1f;
}
.header
{
	!margin:0px;
	height:70px;
	background-color:#101010;
	color:#ffffff;
	width:100%;
}
.logo
{
	padding:10px;
	font-size:40px;
	color:#ffffff;
	float:left;
	height:50px;
	text-align:justify;
}
.logoimg
{
	height:50px;
	width:50px;
}
.login
{
	float:right;
	padding:20px;
	width:400px;
}
.menu
{
	color:#ffffff;
	font-size:25px;
	background-color:#101010;
	width:10%;
	margin-right:10%;
	margin-left:0%;
	height:2000px;
	margin-top:2%;
	float:left;
	padding:30px;
}
.content
{
	background-color:#101010;
	width:70%;
	margin-right:15%;
	margin-left:15%;
	height:2000px;
	margin-top:2%;
}
a:link
{
	color:#ffffff;
	text-decoration: none;
}
a:visited
{
	color:#ffffff;
	text-decoration: none;
}
a:hover
{
	color:#ffffff;
	text-decoration: none;
}
a:active
{
	color:#ffffff;
	text-decoration: none;
}