a:link
{
	color:#bfbfbf;
	text-decoration: none;
}
a:visited
{
	color:#bfbfbf;
	text-decoration: none;
}
a:hover
{
	color:#bfbfbf;
	text-decoration: none;
}
a:active
{
	color:#bfbfbf;
	text-decoration: none;
}